.DS_store
*.emSession
*.jlink
Output
pool_temps.out.poolB.txt
pool_temps.pool.txt
readings.txt
readingsB.txt
bins/
gj/
dev/
src/

debug.cfg
debug_custom.json
esp32.svd

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
